html {
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(153, 201, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-container {
    background-color: darkcyan;
    width: 100vw;
    height: 50px;
    display: flex;
}

.title-wrapper a {
    width: 200px;
    height: 100%;
    font-family: 'Gajraj One', cursive;
    font-size: 20px;
    color: rgb(28, 28, 69);
    font-weight: 800;
}

.links-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.links-wrapper {
    display: flex;
    width: 100%;
}

.links a{
    background-color: rgb(28, 28, 69);
    width: 100px;
    height: 100%;
    font-family: 'Arimo', sans-serif;
}

.links-wrapper a:hover, .link3 a:hover {
    color: rgb(28, 28, 69);
    background-color: rgb(153, 201, 243);
}

.hamburger {
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}


@media (max-width: 500px) {
    .hamburger {
        display: flex;
    }

    .hamburger_show {
        background-color: rgb(28, 28, 69);
        color: rgb(26, 46, 63);
    }

    .nav-bar-container_show {
        background-color: rgb(68, 118, 135);
    }

    .links-container {
        position: fixed;
        width: 100%;
        top: 50px;
        overflow-y: auto;
        flex-direction: column;
        transform: translateY(100%);
        transition: top 0.3s;
    }

    .links-container_show {
        transform: translateY(0);
    }

    .links-wrapper {
        flex-direction: column;
    }

    .links a {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


